@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  @apply flex items-start m-0 flex-col bg-slate-50;
  min-width: 320px;
  min-height: 100vh;
}

button,
select,
input,
textarea {
  @apply focus:outline-none focus:ring-0 focus-visible:ring-offset-2 focus-visible:ring-2 focus-visible:ring-blue-500;
}

#root {
  @apply flex flex-1 flex-col w-full;
}

/* Custom utilities */
.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
